<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @product.product_name %> - ITAroma</title>
    <%= stylesheet_link_tag 'show.css' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-left">
                <h1>ITAroma</h1>
                <p><%= t('магазин ароматичних продуктів') %></p>
            </div>
            <nav>
                <ul>
                    <li><a href="/"><%= t('Головна') %></a></li>
                    <li><a href="/products"><%= t('Магазин') %></a></li>
                    <li><a href="#"><%= t('Про нас') %></a></li>
                    <li><a href="<%= session[:user_id] ? '/favourites' : login_path %>"><i class="material-icons">favorite</i></a></li>
                    <% if session[:user_id] %>
                        <li><a href="<%= profile_path %>"><i class="material-icons">person</i></a></li>
                    <% else %>
                        <li><a href="<%= login_path %>"><%= t('Увійти') %></a></li>
                    <% end %>
                    <li>
                        <a href="<%= session[:user_id] ? orders_path : login_path %>">
                            <i class="material-icons">shopping_cart</i>
                            <% if session[:user_id] %>
                            <% pending_order = Order.find_by(user_id: session[:user_id], status: 'pending') %>
                            <% if pending_order && pending_order.order_items.count > 0 %>
                                <%= pending_order.order_items.count %>
                            <% end %>
                            <% end %>
                        </a>
                    </li>
                    <li> 
                        <%= link_to image_tag(asset_path('ukraine.png')), url_for(locale: 'uk') %>
                        <%= link_to image_tag(asset_path('united-kingdom.png')), url_for(locale: 'en') %>
                    </li>
                </ul>
            </nav>
            
        </div>
    </header>
    <main>
    <section class="hero">
        <div class="hero-text">
            <style>
                .hero {
                    position: relative;
                    height: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 50px;
                }

                .hero::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-image: url(<%= asset_path 'main.jpg' %>);
                    background-repeat: no-repeat;
                    background-size: cover;
                    filter: blur(2px); 
                    z-index: -1;
                }
            </style>
        </div>
    </section>

        <div class="product-details">
            <div class="product-info">
                <div class="product-name-category">
                    <h2><%= @product.product_name %></h2>
                    <p class="category"><%= @product.category.category_name %></p>
                    <div class="stars">
                        <% average_rating = Review.where(product_id: @product.id).average(:rating_value).to_f %>
                        <% for i in 1..5 %>
                            <% if i <= average_rating %>
                                <i class="fas fa-star"></i>
                            <% elsif i - 0.5 <= average_rating %>
                                <i class="fas fa-star-half-alt"></i>
                            <% else %>
                                <i class="far fa-star"></i>
                            <% end %>
                        <% end %>
                        <span>(<%= Review.where(product_id: @product.id).count %> <%= t('відгуків') %>)</span>
                    </div>
                </div>
                <div class="product-image">
                    <img src="<%= @product.image_url %>" alt="<%= @product.product_name %>">
                </div>
                <div class="product-buy">
                    <div class="price"><%= @product.price %> ₴</div>
                    <div class="buy-now">
                        <%= button_to t('Купити'), add_to_cart_path(product_id: @product.id), method: :post, class: "buy" %>
                    </div>
                    <div class="favourites">
                        <div class="articale">
                            <p><%= @product.quantity > 0 ? t('Є в наявності') : t('Немає в наявності') %></p>
                            <p><%= t('Код товару') %> <%= @product.id %></p>
                        </div>
                        <div class="favourites">
                        <% if session[:user_id] %>
                            <% favourite = Favourite.find_by(user_id: session[:user_id], product_id: @product.id) %>
                            <% if favourite %>
                                <%= button_to favourites_path(product_id: @product.id), method: :delete, class: 'favourite-button' do %>
                                <i class="fas fa-heart"></i>
                                <% end %>
                            <% else %>
                                <%= button_to favourites_path(product_id: @product.id), method: :post, class: 'favourite-button' do %>
                                <i class="far fa-heart"></i>
                                <% end %>
                            <% end %>
                            <% else %>
                            <%= link_to login_path do %>
                                <i class="far fa-heart"></i>
                            <% end %>
                        <% end %>
                    </div>
                    </div>
                </div>
            </div>

            <div class="product-description">
                <h3><%= t('Опис') %></h3> <br>
                <p><%= @product.description %></p>
            </div>
            <!-- Кнопка відгуку -->
            <% if session[:user_id] %>
                <button type="button" class="review-button" data-toggle="modal" data-target="#reviewModal"><%= t('Додати відгук') %></button>

                <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reviewModalLabel"><%= t('Новий відгук') %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <%= form_for Review.new, url: {controller: "reviews", action: "create"}, html: {id: 'review-form'} do |f| %>
                                <div class="modal-body">
                                    <div class="form-group">
                                        
                                        <div class="rating-stars">
                                            <% 5.times do |i| %>
                                                <i class="fas fa-star" data-value="<%= i + 1 %>"></i>
                                            <% end %>
                                        </div>
                                        <%= f.hidden_field :rating_value, id: 'rating_value', class: 'form-control' %>
                                    </div>
                                    <div class="form-group">
                                        
                                        <%= f.text_area :review_text, class: 'form-control', rows: 5, placeholder: t("Додати коментар...") %>
                                    </div>
                                    <%= f.hidden_field :product_id, value: @product.id %>
                                    <%= f.hidden_field :user_id, value: session[:user_id] %>
                                </div>
                                <div class="modal-footer">
                                    <%= f.submit t("Додати відгук"), class: 'btn btn-primary' %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% else %>
                <%= link_to t('Додати відгук'), login_path, class: 'review-button' %>
            <% end %>

            <!-- Список відгуків -->
            <div class="product-reviews">
                <h3><%= t('Відгуки') %></h3>
                <% @reviews.each do |review| %>
                    <div class="review">
                        <h4><%= review.user.first_name %> <span><%=  review.created_at.strftime("%d/%m/%Y %H:%M:%S") %></span></h4>
                        <div class="stars">
                            <% for i in 1..5 %>
                                <% if i <= review.rating_value %>
                                    <i class="fas fa-star"></i>
                                <% else %>
                                    <i class="far fa-star"></i>
                                <% end %>
                            <% end %>
                        </div>
                        <p><%= review.review_text %></p>
                    </div>
                <% end %>
            </div>
        </div>
    </main>

    <footer>
        <div class="container footer-container">
        <div class="footer-left">
            <h1>ITAroma</h1>
            <p><%= t('магазин ароматичних продуктів') %></p>
        </div>
        <nav class="footer-nav">
            <ul>
            <li><a href="<%= root_path %>"><%= t('Головна') %></a></li>
            <li><a href="<%= products_path %>"><%= t('Магазин') %></a></li>
            <li><a href="#"><%= t('Про нас') %></a></li>
            </ul>
        </nav>
        <div class="social-media">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="payment-methods">
            <i class="fab fa-cc-visa"></i> Visa
            <br>
            <i class="fab fa-cc-mastercard"></i> Mastercard
        </div>
        </div>
    </footer>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const stars = document.querySelectorAll('.rating-stars i');
            const ratingValue = document.getElementById('rating_value');
            stars.forEach(star => {
                star.addEventListener('click', function() {
                    const value = this.getAttribute('data-value');
                    ratingValue.value = value;
                    stars.forEach(s => {
                        if (s.getAttribute('data-value') <= value) {
                            s.classList.add('rated');
                        } else {
                            s.classList.remove('rated');
                        }
                    });
                });
            });

            document.getElementById('review-form').addEventListener('submit', function(event) {
                if (ratingValue.value === '') {
                    alert('<%= t('Будь ласка, оберіть рейтинг.') %>');
                    event.preventDefault();
                }
            });
        });
    </script>

 
</body>
</html>
